root = true

[*]
charset = UTF-8
end_of_line = CRLF
indent_size = 4
indent_style = tab
insert_final_newline = false
max_line_length = 120
tab_width = 4

[{*.bash,*.sh,*.zsh}]
indent_size = 2
tab_width = 2

[{*.har,*.json}]
indent_size = 2

[{*.markdown,*.md}]
indent_style = space

[{*.py,*.pyw}]
indent_style = space

[{*.yaml,*.yml}]
indent_size = 2
