site_name: Simyan
site_url: https://simyan.readthedocs.io/en/latest/
site_description: A Python wrapper for the Comicvine API.
site_author: Jonah Jackson

copyright: GPL-3.0

repo_url: https://github.com/Metron-Project/Simyan
repo_name: Metron-Project/Simyan

theme:
  name: material
  favicon: img/favicon.ico
  features:
    - content.code.copy
    - navigation.expand
    - navigation.top
  icon:
    repo: material/github
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: teal
      toggle:
        icon: material/weather-sunny
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: teal
      toggle:
        icon: material/weather-night
        name: Switch to light mode

extra:
  social:
    - icon: material/github
      link: https://github.com/Buried-In-Code
    - icon: material/language-python
      link: https://pypi.org/project/simyan/
    - icon: material/mastodon
      link: https://fosstodon.org/@BuriedInCode
    - icon: simple/matrix
      link: https://matrix.to/#/#metron-general:matrix.org

markdown_extensions:
  - pymdownx.highlight:
      auto_title: true
  - pymdownx.inlinehilite
  - pymdownx.superfences


nav:
  - Home: index.md
  - simyan:
      - Package: simyan/__init__.md
      - exceptions: simyan/exceptions.md
      - comicvine: simyan/comicvine.md
      - sqlite_cache: simyan/sqlite_cache.md
  - simyan.schemas:
      - Package: simyan/schemas/__init__.md
      - character: simyan/schemas/character.md
      - concept: simyan/schemas/concept.md
      - creator: simyan/schemas/creator.md
      - generic_entries: simyan/schemas/generic_entries.md
      - issue: simyan/schemas/issue.md
      - item: simyan/schemas/item.md
      - location: simyan/schemas/location.md
      - origin: simyan/schemas/origin.md
      - power: simyan/schemas/power.md
      - publisher: simyan/schemas/publisher.md
      - story_arc: simyan/schemas/story_arc.md
      - team: simyan/schemas/team.md
      - volume: simyan/schemas/volume.md

plugins:
  - search
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          options:
            show_root_heading: True
            show_root_full_path: False
            show_category_heading: True
            # Docstrings
            docstring_style: google
            docstring_section_style: spacy
            line_length: 100
            merge_init_into_class: True
            show_signature_annotations: True
            # Additional
            show_source: False
  - include-markdown
