name: Testing

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  tox:
    name: Tox Tests
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - 3.7
          - 3.8
          - 3.9
          - '3.10'
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
    env:
      COMICVINE_API_KEY: Testing-Key
    runs-on: ${{ matrix.os }}
    steps:
      #----------------------------------------------
      - name: Checkout repository
        uses: actions/checkout@v3
      #----------------------------------------------
      - name: Setup python
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}
      - name: Setup poetry
        uses: snok/install-poetry@v1
        with:
          virtualenvs-create: true
          virtualenvs-in-project: true
      #----------------------------------------------
      - name: Load cached venv
        id: cached-venv
        uses: actions/cache@v3.0.1
        with:
          path: .venv
          key: venv-${{ matrix.os }}-${{ matrix.python-version }}-${{ hashFiles('**/poetry.lock') }}
      #----------------------------------------------
      - name: Install dependencies
        if: steps.cached-poetry-dependencies.outputs.cache-hit != 'true'
        run: poetry install --no-interaction --no-root
      - name: Install project
        run: poetry install --no-interaction
      #----------------------------------------------
      - name: Test with tox
        run: poetry run tox -e py
